In [19]:
import pandas as pd
import numpy as np
from scipy.stats import trim_mean

In [20]:
states = pd.read_csv('state.csv')

In [21]:
states.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [22]:
states.describe()

         Population  Murder.Rate
count  5.000000e+01    50.000000
mean   6.162876e+06     4.066000
std    6.848235e+06     1.915736
min    5.636260e+05     0.900000
25%    1.833004e+06     2.425000
50%    4.436370e+06     4.000000
75%    6.680312e+06     5.550000
max    3.725396e+07    10.300000

### Métricas da População

In [23]:
media_populacao = states['Population'].mean()
np.around(media_populacao)

np.float64(6162876.0)

In [24]:
media_aparada_populacao = trim_mean(states['Population'], proportiontocut=0.1)
np.around(media_aparada_populacao)

np.float64(4783697.0)

In [25]:
mediana_populacao = states['Population'].median()
np.around(mediana_populacao)

np.float64(4436370.0)

### Métricas da Taxa de Assassinatos

In [26]:
media_ponderada_assassinatos = (states['Murder.Rate']*states['Population']).sum()/states['Population'].sum()
np.around(media_ponderada_assassinatos,1)

np.float64(4.4)

In [27]:
states_ordenado = states.sort_values('Murder.Rate')

In [28]:
states_ordenado.head()

            State  Population  Murder.Rate Abbreviation
28  New Hampshire     1316470          0.9           NH
18          Maine     1328361          1.6           ME
22      Minnesota     5303925          1.6           MN
44        Vermont      625741          1.6           VT
10         Hawaii     1360301          1.8           HI

In [29]:
states_ordenado['PopulationCum'] = states_ordenado['Population'].cumsum()

In [59]:
states_ordenado.head(50)

             State  Population  Murder.Rate Abbreviation  PopulationCum
28   New Hampshire     1316470          0.9           NH        1316470
18           Maine     1328361          1.6           ME        2644831
22       Minnesota     5303925          1.6           MN        7948756
44         Vermont      625741          1.6           VT        8574497
10          Hawaii     1360301          1.8           HI        9934798
14            Iowa     3046355          1.9           IA       12981153
11           Idaho     1567582          2.0           ID       14548735
20   Massachusetts     6547629          2.0           MA       21096364
36          Oregon     3831074          2.0           OR       24927438
40    South Dakota      814180          2.3           SD       25741618
43            Utah     2763885          2.3           UT       28505503
38    Rhode Island     1052567          2.4           RI       29558070
6      Connecticut     3574097          2.4           CT       33132167
46      Washington     6724540          2.5           WA       39856707
49         Wyoming      563626          2.7           WY       40420333
5         Colorado     5029196          2.8           CO       45449529
48       Wisconsin     5686986          2.9           WI       51136515
26        Nebraska     1826341          2.9           NE       52962856
33    North Dakota      672591          3.0           ND       53635447
31        New York    19378102          3.1           NY       73013549
15          Kansas     2853118          3.1           KS       75866667
16        Kentucky     4339367          3.6           KY       80206034
25         Montana      989415          3.6           MT       81195449
29      New Jersey     8791894          3.9           NJ       89987343
34            Ohio    11536504          4.0           OH      101523847
47   West Virginia     1852994          4.0           WV      103376841
45        Virginia     8001024          4.1           VA      111377865
42           Texas    25145561          4.4           TX      136523426
4       California    37253956          4.4           CA      173777382
35        Oklahoma     3751351          4.5           OK      177528733
2          Arizona     6392017          4.7           AZ      183920750
30      New Mexico     2059179          4.8           NM      185979929
37    Pennsylvania    12702379          4.8           PA      198682308
13         Indiana     6483802          5.0           IN      205166110
32  North Carolina     9535483          5.1           NC      214701593
12        Illinois    12830632          5.3           IL      227532225
21        Michigan     9883640          5.4           MI      237415865
3         Arkansas     2915918          5.6           AR      240331783
1           Alaska      710231          5.6           AK      241042014
41       Tennessee     6346105          5.7           TN      247388119
9          Georgia     9687653          5.7           GA      257075772
0          Alabama     4779736          5.7           AL      261855508
7         Delaware      897934          5.8           DE      262753442
8          Florida    18801310          5.8           FL      281554752
27          Nevada     2700551          6.0           NV      284255303
19        Maryland     5773552          6.1           MD      290028855
39  South Carolina     4625364          6.4           SC      294654219
24        Missouri     5988927          6.6           MO      300643146
23     Mississippi     2967297          8.6           MS      303610443

In [48]:
metade_peso_total = states_ordenado['Population'].sum()/2
metade_peso_total

np.float64(154071907.5)

In [49]:
pesos_populacao_ordenado = states.sort_values('Population')['Population'].values
valores_assassinatos_ordenado = states.sort_values('Murder.Rate')['Murder.Rate'].values
#pesos_populacao_ordenado
#valores_assassinatos_ordenado

In [55]:
for linha in states_ordenado['PopulationCum']:
    if metade_peso_total <= linha:
        index = (states_ordenado[states_ordenado['PopulationCum'] == linha].index)
        break

mediana_ponderada_assassinatos = states_ordenado['Murder.Rate'][4]
mediana_ponderada_assassinatos

np.float64(4.4)